h1{
    font-family:Cursive;
    text-align: center;
    margin-top: 30px;
    font-weight: bolder;
}
body{
    background-image: url("../img/tile.jpg");
    /* "../img/hero-bg.jpg" */
}
#taskInput{
    margin-top: 10px;
    width: 500px;
}
input{
    text-align: center;
    padding: 8px;
    border: transparent;
    font-weight: bolder;
    margin: auto;
    margin-left: 60px;

}
form{
    background-image: url("../img/formbg.jpg");
    background-repeat: repeat-y;
    width: 600px;
    margin: auto;
}
#note{
    background-image: url("../img/notebg.png");
    width: 200px;
    height: 240px;
    margin-left: 10px;
    -webkit-animation: fadeIn 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadeIn 2s; /* Firefox < 16 */
        -ms-animation: fadeIn 2s; /* Internet Explorer */
         -o-animation: fadeIn 2s; /* Opera < 12.1 */
            animation: fadeIn 2s;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}
div.scroll {
margin-top: 40px;
margin-right: 30px;
    padding:4px;
    width: 140px;
    height: 150px;
    overflow-x:scroll;
    overflow-y: auto;
}
.close{
margin-top: 12px;
margin-right: 20px;
visibility: hidden;
}
.note:hover>.close{
visibility: visible;
}
.date,.time{
    margin-top: -3px;
    margin-left: 10px;
}
.btnRow{
    margin-top: 22px;
    margin-bottom: 10px;
}