.singleTask {
	position: relative;
    /* display: flex;
    justify-content: space-between;
    flex-wrap:wrap; */
}

.box{
    border: 1px black solid;
    background-repeat: no-repeat;
    width: 175px;
    height: 250px;
 
}
button{
    position: absolute;
    top: 0;
    right: 0;
    
}
.taskInfo{
    margin-top: 30px;
}