<p>main works!</p>
<div>{{ showLoved() }}</div>
<input [type]="type" name="pass" id="id_pass" (input)="onPassUpdate($event)" />
<br />
<input type="number" name="age" id="id_age" [(ngModel)]="myAge" />
<br />
<h1 *ngIf="myAge > 0; else hideInfo">your age is- {{ myAge }}</h1>
<br />
<h1 appUserResult>
  <ng-template #hideInfo>
    <div appUserResult>your'e not 0 years old</div></ng-template
  >
</h1>
<br />
<select (input)="changeColor($event)">
  <option disabled="select" selected>black</option>
  <option>red</option>
  <option>blue</option>
  <option>green</option>
  <option>yellow</option>
</select>
<h1 [style.color]="myColor">naruto</h1>
<h1 appGreen>i am green</h1>
<h1 appUserResult>i am black and whiteeeee</h1>
<h1 [ngStyle]="{ color: styleColor }">i will switch colors with ngstyle</h1>
<button (click)="switchColor()">i will toggle the color</button>
<h1 [ngClass]="{ red_box: color, cyan_box: !color }">
  {{ time }} with ngclass
</h1>
<div *ngFor="let item of naruto; let i = index">{{ i + 1 }}-{{ item }}</div>
<h1 appBetter>hello from host listener</h1>
<h1 appLazy>lazy host listener</h1>
<input type="text" [(ngModel)]="inputVal" />
<button (click)="addName()">add</button>
<div class="res" *ngFor="let item of name">{{ item }}</div>
