.main {
margin: auto;
text-align: center;	
}
table{
    margin: auto;
    text-align: center;
    border-collapse: collapse;
    margin-top: 100px;
}
tr,
td,
th {
  border: 1px solid black;
  
}
td {
  width: 150px;
}